# .bazelrc
# Enable C++17
build --cxxopt=-std=c++17
test --cxxopt=-std=c++17

# Use clang as the C++ compiler
build --config=clang
test --config=clang

# Compiler configuration
build:clang --action_env=CC=clang --action_env=CXX=clang++
test:clang --action_env=CC=clang --action_env=CXX=clang++

# Coverage
coverage --instrument_test_targets
#coverage --experimental_cc_coverage
coverage --combined_report=lcov
coverage --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main